<ion-header>
  <ion-toolbar>
    <ion-title>home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-button expand="block" color="primary" (click)="createUser()">SIGN UP</ion-button>  
  <ion-button expand="block" color="secondary" (click)="doLogin()">LOGIN</ion-button>
  <ion-button expand="block" color="tertiary" (click)="createTweet()">createTweet</ion-button>
  <ion-button expand="block" color="warning" (click)="getTweets()">getTweets</ion-button>
  <ion-button expand="block" color="dark" (click)="getUsers()">getUsers</ion-button>
  <ion-button expand="block" color="danger" (click)="getMe()">Me</ion-button>

</ion-content>
